.problem-card {
  width: 530px;
  height: 664px;
  border-radius: 10px;
  box-shadow: -1px -1px 10px #dcdcdc,
              -1px 1px 10px #dcdcdc,
              1px -1px 10px #dcdcdc,
              1px 1px 10px #dcdcdc;
  background-color: #fff;
}
.problem-card .problem-icon {
  position: relative;
  width: 100%;
  height: 664px;
}
.problem-card .problem-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.problem-card.problem-buyer .problem-icon img {
  top: 47%;
}
.problem-card .problem-icon p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #333;
}
.problem-card .problem-list-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.problem-card .list-title {
  height: 90px;
  line-height: 90px;
  text-align: center;
  font-size: 26px;
  color: #333;
}
.problem-card .problem-item {
  padding: 0 20px;
  font-size: 18px;
  color: #333;
  cursor: pointer;
}
.problem-card .problem-item.active {
  color: #fff;
  background-color: #35b7f5;
}
.problem-card .problem-item .item-content {
  border-top: 1px solid #e0e0e0;
}
.problem-card .problem-item .item-title {
  padding: 20px;
}
.problem-card .problem-item .item-desc {
  display: none;
  padding: 20px;
  line-height: 30px;
}

.problem-card .problem-list-wrapper::-webkit-scrollbar {
  width:8px;
  height:8px;
}
.problem-card .problem-list-wrapper::-webkit-scrollbar-thumb {
  border-radius: 4px;
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.2);
}
.problem-card .problem-list-wrapper::-webkit-scrollbar-thumb:hover {
  background-color:#bbb;
}
.problem-card .problem-list-wrapper::-webkit-scrollbar-track-piece {
  background-color:#fff;
}
